absl-py==0.13.0
astor==0.8.1
certifi==2020.6.20
cvxopt==1.2.6
cycler==0.10.0
gast==0.5.2
google-pasta==0.2.0
grpcio==1.39.0
h5py==2.10.0
importlib-metadata==2.1.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
Markdown==3.2.2
matplotlib==3.0.3
numpy==1.16.4
pandas==0.20.3
Pillow==7.2.0
protobuf==3.17.3
Pympler==0.5
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
scipy==1.0.0
six==1.16.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
tflearn==0.3.2
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
zipp==1.2.0
